<footer class="footer">
    <div class="footer__logo">
        <svg class="ableton">
            <use xlink:href="../Icons/sprite.svg#ableton"></use>
        </svg>
    </div>
    <form action="" method="post" class="form footer__form">
        <input class="input" type="text" name="" id="first" autofocus required placeholder="First Name">
        <input class="input" type="text" name="" id="last" required placeholder="Last Name">
        <input class="input" type="email" name="" id="email" required placeholder="Email" autocomplete="email">
        <input class="input" type="password" name="" id="pass" required placeholder="Password">
        <button type="submit" class="btn submit">Submit</button>
    </form>
    <section class="footer__section">
        <h3 class="footer__section-heading">Education</h3>
        <ul class="list footer__list">
            <li class="footer__item">Offer for Student and Teachers</li>
            <li class="footer__item">Ableton for Classroom</li>
            <li class="footer__item">Ableton for Colleges and Universities</li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section-heading">Community</h3>
        <ul class="list footer__list">
            <li class="footer__item">Find Ableton User Group</li>
            <li class="footer__item">Find Certified Training</li>
            <li class="footer__item">Become a Certified Trainer</li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section-heading">Distributos</h3>
        <ul class="list footer__list">
            <li class="footer__item">Find Distributor</li>
            <li class="footer__item">Try push in-store</li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section-heading">Social Media Contacts</h3>
        <ul class="list footer__list icon__list">
            <li class="footer__item">
                <svg class="icon icon--rounded">
                    <use xlink:href="../Icons/sprite.svg#facebook"></use>
                </svg>
            </li>
            <li class="footer__item ">
                <svg class="icon icon--rounded">
                    <use xlink:href="../Icons/sprite.svg#twitter"></use>
                </svg>
            </li>
            <li class="footer__item">
                <svg class="icon icon--rounded">
                    <use xlink:href="../Icons/sprite.svg#youtube"></use>
                </svg>
            </li>
            <li class="footer__item">
                <svg class="icon icon--rounded">
                    <use xlink:href="../Icons/sprite.svg#insta"></use>
                </svg>
            </li>
        </ul>
    </section>
    <section class="footer__section summary">
        <ul class="list footer__list ">
            <li class="footer__item">Contact Us</li>
            <li class="footer__item">Press Resources</li>
            <li class="footer__item">Legal Info</li>
            <li class="footer__item">Privacy Policy</li>
            <li class="footer__item">Cookie Setting</li>
            <li class="footer__item">Imprint</li>

        </ul>
    </section>
    <div class="country">
        <span class="country__name">Made in Berline</span>
        <svg class="icon" style="fill: #fff;">
            <use xlink: href="../Icons/sprite.svg#logo"></use>
        </svg>
    </div>
</footer>