<div class="img-grid" style="align-items: center;">
    <div class="sub__grid1"></div>
    <img src="../Images/photo-3.jpg" alt="" class="sub__grid-img3">
    <img src="../Images/photo-4.jpg" alt="" class="sub__grid-img4">
    <img src="../Images/photo-5.jpg" alt="" class="sub__grid-img5">
</div>
<div class="img-grid" style="align-items: center;">
    <div class="sub__grid2"></div>
    <img src="../Images/photo-6.jpg" alt="" class="sub__grid-img6">
    <img src="../Images/photo-7.jpg" alt="" class="sub__grid-img7">
</div>
<div class="img-grid" style="align-items: center;">
    <div class="sub__grid2"></div>
    <img src="../Images/photo-1.jpg" alt="" class="sub__grid-img1">
    <img src="../Images/photo-2.jpg" alt="" class="sub__grid-img2">
</div>