<nav class="collapsible navbar">
    <a href="#">
        <svg class="logo">
            <use xlink:href="../Icons/sprite.svg#logo"></use>
        </svg>
    </a>
    <svg class="icon navigator menu">
        <use xlink:href="../Icons/sprite.svg#menu"></use>
    </svg>
    <div class="collapsible__content item__group">
        <ul class="list nav__list">
            <li class="nav__item"><a class="nav__links" href="#">History</a></li>
            <li class="nav__item"><a class="nav__links" href="#">Progress</a></li>
            <li class="nav__item"><a class="nav__links" href="#">Diversity</a></li>
            <li class="nav__item"><a class="nav__links" href="#">Motivation</a></li>
            <li class="nav__item"><a class="nav__links" href="#">Self Growth</a></li>
            <li class="nav__item"><a class="nav__links" href="#">Opportunites</a></li>
        </ul>
        <div class="button__group">
            <button class="btn log--in">Log in</button>
            <button class="btn sign--up">Sign up</button>
        </div>
    </div>
</nav>